{% extends "base.html" %}

{% block title %}购物商场-管理商品信息{% endblock %}

{% block page_content %}

<div id="content" class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <a href="{{ url_for('user.user_profile') }}" class="list-group-item">个人资料</a>
                <a href="{{ url_for('user.user_address') }}" class="list-group-item">收货地址管理</a>
                {% if current_user.is_store() %}
                <a href="{{ url_for('user.user_store_profile') }}" class="list-group-item">店铺信息</a>
                {% endif %}
                {% if current_user.is_store() %}
                <a href="{{ url_for('store.manage_commodities') }}" class="list-group-item active">商品管理</a>
                {% endif %}
                {% if current_user.is_store() %}
                <a href="{{ url_for('store.manage_user_orders') }}" class="list-group-item">用户订单管理</a>
                {% endif %}
            </div>
        </div>
        <div class="col-sm-1">
            {% if not current_user.is_administrator() %}
            <p><a href="{{ url_for('store.store_add_commodity') }}" class="btn btn-sm btn-default">新增商品</a></p>
            {% endif %}
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="row">
                    {% for (com, category) in commodity_and_category %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-sm-4">
                                <img class="img-rounded" src="{{ url_for('static', filename='commodity_images/') + com.commodityimage }}" width="222" height="222">
                            </div>
                            <div class="col-sm-7">
                                <p>商品名称：{{ com.commodityname }}</p>
                                <p>商品分类：{{ category }}</p>
                                <p>商品价格：{{ com.price }}</p>
                                <p>商品简介：{{ com.about_commodity }}</p>
                                <p>库存：{{ com.inventory }}</p>
                                <p>销量：{{ com.sales_volume }}</p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            {% if current_user.is_administrator() %}
                            <a href="{{ url_for('admin.store_edit_commodity', commodityid=com.id) }}">编辑</a>
                            <a href="{{ url_for('admin.store_delete_commodity', commodityid=com.id) }}" class="btn btn-danger">删除</a>
                            {% else %}
                            <a href="{{ url_for('store.store_edit_commodity', commodityid=com.id) }}">编辑</a>
                            <a href="{{ url_for('store.store_delete_commodity', commodityid=com.id) }}" class="btn btn-danger">删除</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}