{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}购物商场-商品详情页{% endblock %}

{% block page_content %}
<div id="content" class="page-header container">
    <div class="row carousel-holder">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for i in range(recommending_commodities.count()) %}
                    {% if i == 0 %}
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    {% else %}
                    <li data-target="#carousel-example-generic" data-slide-to="{{ i }}"></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div id="banner_img" class="carousel-inner" role="listbox">
                    {% for com in recommending_commodities %}
                    {% if com == recommending_commodities[0] %}
                    <div class="item active">
                        <a href="{{ url_for('main.commodity_detail', commodityid=com.id) }}"><img class="slide-image" src="{{ url_for('static', filename='recommending_commodity_images/') + com.commodityimage }}" alt=""/></a>
                    </div>
                    {% else %}
                    <div class="item">
                        <a href="{{ url_for('main.commodity_detail', commodityid=com.id) }}"><img class="slide-image" src="{{ url_for('static', filename='recommending_commodity_images/') + com.commodityimage }}" alt=""/></a>
                    </div>
                    {%endif%}
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <h3>商品分类</h3>
            <div class="list-group">
                <a href="{{ url_for('main.show_category_commodities', categoryid=1) }}" class="list-group-item">服装 &amp; 饰品</a>
                <a href="{{ url_for('main.show_category_commodities', categoryid=2) }}" class="list-group-item">母婴用品</a>
                <a href="{{ url_for('main.show_category_commodities', categoryid=3) }}" class="list-group-item">美容</a>
                <a href="{{ url_for('main.show_category_commodities', categoryid=4) }}" class="list-group-item">电子产品</a>
                <a href="{{ url_for('main.show_category_commodities', categoryid=5) }}" class="list-group-item">家具</a>
                <a href="{{ url_for('main.show_category_commodities', categoryid=6) }}" class="list-group-item">家居 &amp; 园艺</a>
                <a href="{{ url_for('main.show_category_commodities', categoryid=7) }}" class="list-group-item">箱包</a>
                <a href="{{ url_for('main.show_category_commodities', categoryid=8) }}" class="list-group-item">鞋</a>
                <a href="{{ url_for('main.show_category_commodities', categoryid=9) }}" class="list-group-item">体育 &amp; 娱乐</a>
                <a href="{{ url_for('main.show_category_commodities', categoryid=10) }}" class="list-group-item">手表</a>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-sm-6">
                        <img class="img-responsive" src="{{ url_for('static', filename='commodity_images/') + commodity.commodityimage }}" alt=""/>
                    </div>
                    <div class="col-sm-6">
                        <h4 class="pull-right">￥{{ commodity.price }}</h4>
                        <h4>{{ commodity.commodityname }}</h4>
                        <a href="{{ url_for('store.store_detail', storeid=s.id) }}"><h5>店铺：{{ s.storename }}</h5></a>
                        <div class="description">
                            <p>（销量：{{ commodity.sales_volume }}）{{ commodity.about_commodity }}</p>
                        </div>
                        <form role="form" action="{{ url_for('user.add_commodity_to_basket', commodityid=commodity.id) }}" method="post">
                            <div class="number form-group">
                                <label class="control-label" for="number">数量（库存：{{ commodity.inventory }}）</label>
                                {% if basket %}
                                    <input type="number" class="input-sm" id="number" name="purchase_quantity" min="1" max="{{ commodity.inventory - basket.number }}">
                                {% else %}
                                    <input type="number" class="input-sm" id="number" name="purchase_quantity" min="1" max="{{ commodity.inventory }}">
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <a href="mailto:{{ storekeeper.email }}" class="btn btn-default">联系商家</a>
                                <button type="submit" class="btn btn-success">添加到购物车</button>
                            </div>
                        </form>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        <hr><hr><hr>
        <div class="row">
            <div class="col-sm-12"><h3>你可能喜欢的商品</h3></div>
            {% for com in store_commodities %}
                {% if com != commodity %}
                <div class="col-sm-6 col-md-6">
                    <div class="thumbnail">
                        <a href="{{ url_for('main.commodity_detail', commodityid=com.id) }}"><img src="{{ url_for('static', filename='commodity_images/') + com.commodityimage }}" alt="" width="260" height="180"></a>
                        <div class="add-to-cart text-right">
                            <a href="{{ url_for('user.add_commodity_to_basket', commodityid=com.id) }}" class="glyphicon glyphicon-plus-sign" data-toggle="tooltip" data-placement="top" title="Add to cart"></a>
                        </div>
                        <div class="caption">
                            <h4 class="pull-right">￥{{ com.price }}</h4>
                            <h4><a href="{{ url_for('main.commodity_detail', commodityid=com.id) }}">{{ com.commodityname }}</a></h4>
                            <p>{{ com.about_commodity }}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<style>
    #banner_img{
    width:1140px;
    height:350px;
    }
</style>

{% endblock %}
